Source: spotify-hdfs2cass
Section: non-free/web
Priority: extra
Maintainer: Uldis Barbans <uldis@spotify.com>
Build-Depends: debhelper (>= 8), sun-java6-jdk, maven2, spotify-maven-config
Standards-Version: 3.8.0

Package: spotify-hdfs2cass
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, sun-java6-jre
Description: Cassandra exporter. Uses org.apache.cassandra.hadoop.BulkOutputFormat for high throughput Hadoop interoperability.
