#!/usr/bin/make -f

export JAVA_HOME=/usr/lib/jvm/java-6-sun
MVN = mvn -U -e -Dmaven.repo.local=$$PWD/.m2-repository -s/etc/maven2/spotify-settings.xml

%:
	dh $@

override_dh_auto_build:
	dh_auto_build
	$(MVN) package

clean:
	dh clean
	$(MVN) clean

.PHONY: clean
